$pathToFont: '/static/fonts';

// font variables
$avenir-black: 'Avenir Black', sans-serif;
$avenir-heavy: 'Avenir Heavy', sans-serif;
$avenir-book: 'Avenir Book', sans-serif;
$avenir-light: 'Avenir Light', sans-serif;
$avenir-medium: 'Avenir Medium', sans-serif;
$avenir-roman: 'Avenir Roman', sans-serif;
$avenir-oblique: 'Avenir Oblique', sans-serif;
